.menus {
    text-align: center;
}
.single-menu {
    border: 2px solid $theme-color;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
}
.menu-list {
    color: #888;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}